<%- include('partials-admin/header-admin.ejs')%>
<%- include('partials-admin/side-bar.ejs')%>

      <h1>liste des articles</h1>

        </div>
    </div>
</div>


<%- include('partials-admin/footer-admin')%>
