<%- include('partials/header.ejs')%>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://th.bing.com/th/id/R438e89f11acd296d89aeb548d0aa4f9e?rik=b7FIaCRHsFhBXA&riu=http%3a%2f%2fcomicsmedia.ign.com%2fcomics%2fimage%2fobject%2f889%2f889452%2fnaruto-1_cover-art.jpg&ehk=Rga3rUSdje9WMq4Ln6gqEGUTG3aV8IwApqJ8nKCra%2bM%3d&risl=&pid=ImgRaw" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>
    </div>
</div>
<%- include('partials/footer.ejs')%>